<div class="table-responsive">
    <table class="table table-hover table-striped"
        aurelia-table="data.bind: all; display-data.bind: $displayData; filters.bind: filters;">
      <thead class="table-light">
        <tr>
          <th scope="col" aut-sort="key: name; default: asc">Name</th>
          <th scope="col" aut-sort="key: real">Based On</th>
          <th scope="col" aut-sort="key: type">Instrument</th>
          <th scope="col">IRs by</th>
          <th scope="col">Matching Cabs</th>
          <th scope="col" aut-sort="key: addedIn">Added In</th>
        </tr>
        <tr>
          <th scope="col">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Device model..."
              value.bind="filters[0].value"
            />
          </th>
          <th scope="col">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Real model..."
              value.bind="filters[1].value"
            />
          </th>
          <th scope="col">
            <select class="form-select form-select-sm" value.bind="filters[2].value">
              <option value="">All</option>
              <option value="guitar">Guitar</option>
              <option value="bass">Bass</option>
            </select>
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
  
      <tbody>
        <tr repeat.for="device of $displayData">
          <td>
            <div class="d-flex align-items-center" click.trigger="showDetail(device)">
              <img src="images/${device.image}" class="me-3 rounded" if.bind="device.image" width="60" height="60" alt="${device.name}">
              <span>${device.name}</span>
            </div>
          </td>
          <td class="text-nowrap">${device.real}</td>
          <td>${device.type ?? 'N/A'}</td>
          <td>${device.irAuthor ?? 'N/A'}</td>
          <td>
            <ul class="list-unstyled mb-0" if.bind="device.cabs">
              <li repeat.for="cab of device.cabs">${getItem(cab, 'cabs').name}</li>
            </ul>
          </td>
          <td>
            <span if.bind="device.addedIn" class="badge badge-info">${device.addedIn}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
