<div class="table-responsive">
    <table class="table" aurelia-table="data.bind: amps; display-data.bind: $displayData; filters.bind: filters;">
        <thead>
            <tr>
                <th scope="col" aut-sort="key: name; default: asc">
                    <div class="d-flex align-items-center">
                        <span t="table.name"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: real">
                    <div class="d-flex align-items-center">
                        <span t="table.basedOn"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: type">
                    <div class="d-flex align-items-center">
                        <span t="table.instrument"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" t="table.matchingCabs"></th>
                <th scope="col" aut-sort="key: addedIn">
                    <div class="d-flex align-items-center">
                        <span t="table.addedInCoros"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Device model..."
                           t="[placeholder]filters.deviceModel"
                           value.bind="filters[0].value">
                </th>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Real model..."
                           t="[placeholder]filters.realModel"
                           value.bind="filters[1].value">
                </th>
                <th>
                    <select class="form-select" value.bind="filters[2].value">
                        <option value="" t="filters.all"></option>
                        <option value="guitar" t="options.guitar"></option>
                        <option value="bass" t="options.bass"></option>
                    </select>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr repeat.for="device of $displayData">
                <td>
                    <div class="d-flex align-items-center">
                        <span click.trigger="showDetail(device)" class="device-name" role="button">${device.name}</span>
                        <a if.bind="getDetailForDevice(device)?.amazonAffiliateLink" 
                           href="${getDetailForDevice(device).amazonAffiliateLink}" 
                           target="_blank" 
                           class="ms-2 text-decoration-none"
                           title="Buy on Amazon"
                           t="[title]actions.buyOnAmazon">
                            <i class="bi bi-amazon text-warning"></i>
                        </a>
                    </div>
                </td>
                <td class="text-nowrap">${device.real}</td>
                <td>
                    <span class="badge bg-primary text-white">${device.type}</span>
                </td>
                <td>
                    <ul class="list-unstyled mb-0" if.bind="device.cabs">
                        <li repeat.for="cab of device.cabs">${getItem(cab, 'cabs').name}</li>
                    </ul>
                </td>
                <td>
                    <span if.bind="device.addedIn" class="badge purple">${device.addedIn}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
