<div class="table-responsive">
    <table class="table" aurelia-table="data.bind: cabs; display-data.bind: $displayData; filters.bind: filters;">
        <thead>
            <tr>
                <th scope="col" aut-sort="key: name; default: asc">
                    <div class="d-flex align-items-center">
                        <span t="table.name"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: real;">
                    <div class="d-flex align-items-center">
                        <span t="table.basedOn"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" t="table.irsBy"></th>
                <th scope="col" aut-sort="key: type;">
                    <div class="d-flex align-items-center">
                        <span t="table.instrument"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: addedIn">
                    <div class="d-flex align-items-center">
                        <span t="table.addedInCoros"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Search device..."
                           t="[placeholder]filters.searchDevice"
                           value.bind="filters[0].value">
                </th>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Search model..."
                           t="[placeholder]filters.searchModel"
                           value.bind="filters[1].value">
                </th>
                <th>
                    <select class="form-select" value.bind="filters[3].value">
                        <option value="" t="filters.allAuthors"></option>
                        <option value="neural" t="options.neuralDsp"></option>
                        <option value="getgood" t="options.nollyGetgood"></option>
                        <option value="third party" t="options.thirdParty"></option>
                    </select>
                </th>
                <th>
                    <select class="form-select" value.bind="filters[2].value">
                        <option value="" t="filters.allTypes"></option>
                        <option value="guitar" t="options.guitar"></option>
                        <option value="bass" t="options.bass"></option>
                    </select>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr repeat.for="device of $displayData">
                <td>
                    <span click.trigger="showDetail(device)" class="device-name" role="button">${device.name}</span>
                </td>
                <td class="text-nowrap">${device.real}</td>
                <td>${device.irAuthor}</td>
                <td>
                    <span class="badge bg-light text-dark">${device.type}</span>
                </td>
                <td>
                    <span if.bind="device.addedIn" class="badge purple">${device.addedIn}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
