<div class="table-responsive">
    <table class="table table-hover table-striped"
        aurelia-table="data.bind: captures; display-data.bind: $displayData; filters.bind: filters;">
        <thead class="table-light">
            <tr>
                <th scope="col" aut-sort="key: name; default: asc">Name</th>
                <th scope="col" aut-sort="key: real;">Based On</th>
                <th scope="col" aut-sort="key: addedIn">Added In</th>
            </tr>
            <tr>
                <th scope="col">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="Device model..."
                        value.bind="filters[0].value"
                    />
                </th>
                <th scope="col">
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="Real model..."
                        value.bind="filters[1].value"
                    />
                </th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr repeat.for="device of $displayData">
                <td>
                    <span click.trigger="showDetail(device)">${device.name}</span>
                </td>
                <td class="text-nowrap">${device.real}</td>
                <td>
                    <span if.bind="device.addedIn" class="badge rounded-pill bg-info text-dark">${device.addedIn}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
