<div class="table-responsive">
    <table class="table" aurelia-table="data.bind: effects; display-data.bind: $displayData; filters.bind: filters;">
        <thead>
            <tr>
                <th scope="col" aut-sort="key: name; default: asc">
                    <div class="d-flex align-items-center">
                        <span>Name</span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: real;">
                    <div class="d-flex align-items-center">
                        <span>Based on</span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: deviceTypeLabel">
                    <div class="d-flex align-items-center">
                        <span>Device type</span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: type">
                    <div class="d-flex align-items-center">
                        <span>Instrument</span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: addedIn">
                    <div class="d-flex align-items-center">
                        <span>Added in CorOS</span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" 
                           class="form-control"
                           placeholder="Device model..."
                           value.bind="filters[0].value">
                </th>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Real model..."
                           value.bind="filters[1].value">
                </th>
                <th>
                    <select class="form-select" value.bind="filters[4].value">
                        <option value="">All</option>
                        <option value="overdrive">Overdrive</option>
                        <option value="delay">Delay</option>
                        <option value="reverb">Reverb</option>
                        <option value="compressor">Compressor</option>
                        <option value="pitch">Pitch</option>
                        <option value="modulation">Modulation</option>
                        <option value="morph">Morph</option>
                        <option value="filter">Filter</option>
                        <option value="eq">EQ</option>
                        <option value="wah">Wah</option>
                        <option value="looper">Looper</option>
                        <option value="utility">Utility</option>
                    </select>
                </th>
                <th>
                    <select class="form-select" value.bind="filters[2].value">
                        <option value="">All</option>
                        <option value="guitar">Guitar</option>
                        <option value="bass">Bass</option>
                    </select>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr repeat.for="device of $displayData">
                <td>
                    <span click.trigger="showDetail(device)" class="device-name">${device.name}</span>
                </td>
                <td class="text-nowrap">${device.real}</td>
                <td>
                    <span class="badge bg-info text-white">${device.deviceTypeLabel}</span>
                </td>
                <td>
                    <span class="badge bg-light text-dark">${device.type}</span>
                </td>
                <td>
                    <span if.bind="device.addedIn" class="badge purple">${device.addedIn}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
