<div class="table-responsive">
    <table class="table" aurelia-table="data.bind: plugins; display-data.bind: $displayData; filters.bind: filters;">
        <thead>
            <tr>
                <th scope="col" aut-sort="key: name; default: asc">
                    <div class="flex items-center">
                        <span t="table.name"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: real">
                    <div class="flex items-center">
                        <span t="table.basedOn"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: deviceType">
                    <div class="flex items-center">
                        <span t="table.type"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
                <th scope="col" aut-sort="key: addedIn">
                    <div class="flex items-center">
                        <span t="table.addedInCoros"></span>
                        <i class="bi bi-arrow-down-up ms-1"></i>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Search device..."
                           t="[placeholder]filters.searchDevice"
                           value.bind="filters[0].value">
                </th>
                <th>
                    <input type="text"
                           class="form-control"
                           placeholder="Search model..."
                           t="[placeholder]filters.searchModel"
                           value.bind="filters[1].value">
                </th>
                <th>
                    <select class="form-select" value.bind="filters[2].value">
                        <option value="" t="filters.allTypes"></option>
                        <option value="pitch" t="pluginTypes.pitch"></option>
                        <option value="overdrive" t="pluginTypes.overdrive"></option>
                        <option value="modulation" t="pluginTypes.modulation"></option>
                        <option value="amp" t="pluginTypes.amp"></option>
                        <option value="cab" t="pluginTypes.cab"></option>
                        <option value="delay" t="pluginTypes.delay"></option>
                        <option value="reverb" t="pluginTypes.reverb"></option>
                        <option value="compressor" t="pluginTypes.compressor"></option>
                        <option value="eq" t="pluginTypes.eq"></option>
                        <option value="filter" t="pluginTypes.filter"></option>
                        <option value="utility" t="pluginTypes.utility"></option>
                        <option value="wah" t="pluginTypes.wah"></option>
                    </select>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <template repeat.for="type of ['pitch', 'overdrive', 'modulation', 'amp', 'cab', 'delay', 'reverb', 'compressor', 'eq', 'filter', 'utility', 'wah']">
                <tr class="table-section" if.bind="getDevicesByType($displayData, type).length">
                    <td colspan="4" class="section-header" click.trigger="toggleSection(type, $event)" style="cursor: pointer;">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <i class="bi ${type === 'pitch' ? 'bi-music-note' :
                                             type === 'overdrive' ? 'bi-lightning' :
                                             type === 'modulation' ? 'bi-wave' :
                                             type === 'amp' ? 'bi-speaker' :
                                             type === 'cab' ? 'bi-box' :
                                             type === 'delay' ? 'bi-clock' :
                                             type === 'reverb' ? 'bi-soundwave' :
                                             'bi-sliders'} me-2"></i>
                                <span t.bind="getTypeLabelKey(type)"></span>
                            </div>
                            <i class="bi ${isCollapsed(type) ? 'bi-chevron-right' : 'bi-chevron-down'}"></i>
                        </div>
                    </td>
                </tr>
                <tr repeat.for="device of getDevicesByType($displayData, type)" if.bind="!isCollapsed(type)">
                    <td>
                        <span click.trigger="showDetail(device)" class="device-name" role="button">${device.name}</span>
                    </td>
                    <td class="whitespace-nowrap">${device.real}</td>
                    <td>
                        <span class="badge-type plugin" t.bind="getTypeLabelKey(type)"></span>
                    </td>
                    <td>
                        <span if.bind="device.addedIn" class="badge-version">${device.addedIn}</span>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
